<div class="modal" id="hours-modal">

  <div class="modal__overlay">

  </div>

  <div class="modal__content editable">

    <div class="modal__close"></div>

    <div class="modal__content__scroll">
      <span class="modal__content__open-label">Monday - Thursday</span>
      <span class="modal__content__open-time">11am - 9pm (Happy Hour 2pm - 6pm)</span>

      <span class="modal__content__open-label">Friday</span>
      <span class="modal__content__open-time">11am - 11pm</span>

      <span class="modal__content__open-label">Saturday</span>
      <span class="modal__content__open-time">11am - 11pm</span>

      <span class="modal__content__open-label">Sunday</span>
      <span class="modal__content__open-time">11am - 9pm (Happy Hour ALL DAY)</span>
    </div>


  </div>

</div>
