.fact-nav-ribbon {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: $gold;
  width: 40px;
  height: 236px;
  z-index: 97;

  &__button {
    margin: 15px 6px 15px 6px;
    height: 28px;
    width: 28px;
  }

  &__label {
    transform: rotate(90deg);
    font-family: $font-family-con--bold;
    font-size: 14px;
    color: $dark;
    width: 60px;
    margin-top: 30px;
    left: -8px;
    position: absolute;
  }

}

.fact-container {
  @include container();
  @include xsmall-cover-top-margin();

  @include breakpoint(medium) {
    @include small-cover-top-margin();
  }

}

.fact-grid {

  &__row {
    @include grid-row();
    width: 100% !important;
    position: relative;
    margin-bottom: 30px;

    @include breakpoint(medium) {
      margin-bottom: 40px;
    }
  }

  &__col {
    display: inline-block;
    position: relative;
    padding: 0px !important;
    margin-bottom: 20px;

    @include breakpoint(medium) {
      margin-bottom: 80px;
    }

    img {
      display: block;
    }



    &--image {
      @include grid-column(12);
      float: right;

      &__frame {
        margin-bottom: 0px;
        
        img {
        }

      }

      &__social {
        margin-top: 20px;
        font-family: $font-family-con--bold;

        @include breakpoint(medium) {
          margin-top: 28px;
        }

        img {
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 8px;
        }
      }

      @include breakpoint(medium) {
        @include grid-column(8);
        float: right;
      }
    }

    &--textcontent {
      @include grid-column(10);
      float: left;
      text-align: center;
      padding: 0px 15px 0px 15px !important;

      @extend .small-offset-1;

      @include breakpoint(medium) {
        @extend .medium-offset-0;
        padding: 0px !important;
      }


      @include breakpoint(medium) {
        @include grid-column(4);
        float: left;
        text-align: left;
        padding-right: 30px !important;
      }

      @include breakpoint(large) {
        @include grid-column(4);
        float: left;
        padding-right: 40px !important;
      }

      h3 {
        color: $earth--dark;
        margin-bottom: 40px;
      }

      &__numeral {
        color: $gold;
        @include font-size--small;
        font-family: $font-family-h--regular;
        -moz-font-feature-settings: "ss01=1";
        -moz-font-feature-settings: "ss01";
        -ms-font-feature-settings: "ss01";
        -webkit-font-feature-settings: "ss01";
        font-feature-settings: "ss01";
        margin-bottom: 20px;

        @include breakpoint(medium) {
          margin-bottom: 30px;
        }
      }

      &__body {
        @include font-size--xsmall;
        text-align: left;

        strong {
          color: $earth--dark;
          font-family: $font-family--bold;
          letter-spacing: -0.5px;
        }
      }

      &__prevnext {
        text-align: center;

        @include breakpoint(medium) {
          text-align: left;
        }

        a {
          font-size: $font-size--small;
          font-family: $font-family-con--bold;
          display: inline-block;
          margin-bottom: 10px;

          @include breakpoint(medium) {
            margin-bottom: 0px;
          }
        }
      }

    }



  }

}
