// --------------------------------------------------
// Layout index page
// --------------------------------------------------


body {

}

html {

}

.home-grid-heading {
  @include container-medium();
  @include small-cover-top-margin();

  h3 {
    color: $earth--dark;
    margin-bottom: 40px;
  }
}

.home-container {
  @include container();
}

.home-row-cta {
  @include container-xsmall();
  display: block;
  margin-top: 0px;
  margin-bottom: 80px;

  @include breakpoint(medium) {
    @include container();
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $off-white;
    font-family: $font-family-h--bold;
    font-size: $font-size--small;

    @include breakpoint(large) {
      font-size: $font-size--medium;
    }
  }

  &__button {
    display: block;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1px;
    background: #5B5964;
    border: 1px solid rgba(43,38,47,0.30);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    transition: all 0.2s;
    margin-bottom: 30px;

    @include breakpoint(medium) {
      height: 90px;
      width: 32%;
      line-height: 90px;
      margin-bottom: 60px;
    }

    @include breakpoint(large) {
      height: 120px;
      line-height: 120px;
    }

    &:hover {
      background: #383740;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }


  }

}

.home-description {
  text-align: center;
  font-size: $font-size--small;
  line-height: 1.75em;
  margin-bottom: 80px !important;
  @include container-xsmall;

  @include breakpoint(medium) {
    margin-top: 20px;
    margin-bottom: 120px !important;
    font-size: $font-size--medium;
  }
}

.home-grid {

  &__row {
    // height: 600px;
    // @include container();
    @include grid-row();
    width: 100% !important;
    position: relative;
    // background-color: $earth;
    margin-bottom: 20px;

    @include breakpoint(medium) {
      margin-bottom: 20px;
    }
  }

  &__col {
    display: inline-block;
    position: relative;
    // background-color: $earth--dark;
    padding: 0px !important;
    margin-bottom: 60px;

    @include breakpoint(medium) {
      margin-bottom: 60px;
    }

    img {
      display: block;
    }

    &--block1 {
      @include grid-column(12);
      float: left;
      margin-bottom: 20px;

      img {
        width: 100%;
      }

      @include breakpoint(medium) {
        @include grid-column(11);
        float: left;
        margin-bottom: 60px;
      }
    }

    &--block2 {
      @include grid-column(10);
      @extend .small-offset-1;
      float: left;

      img {
        width: 100%;
      }

      @include breakpoint(medium) {
        @include grid-column(5);
        @extend .medium-offset-1;
        float: right;
      }
    }

    &--block3 {
      @include grid-column(10);
      @extend .small-offset-1;
      float: left;

      img {
        width: 100%;
      }

      @include breakpoint(medium) {
        @include grid-column(5);
        float: left;
        margin-top: 15%;
      }
    }

  }

}
