.footer {
  background-color: $snow-white;
  min-height: 200px;
  padding: 60px 0px 0px 0px;
  max-width: none;

    @include breakpoint(medium) {
      padding: 80px 0px 0px 0px;
    }

    @include breakpoint(large) {
      padding: 100px 0px 0px 0px;
    }

  &__container {
    @include container-small();
  }

  .button--outline {
    text-transform: none;
    min-width: 50px;
    margin: 0px 0.5em 0.75em 0px;
  }


  ul {

    margin: 0px;
    padding: 0px;
    line-height: 2em;

    li {
      margin: 0px;
      padding: 0px;
      line-height: 2em;
    }
  }

  &__label {
    font-family: $font-family-h--bold;
    @include font-size--small;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  &__popular-items {
    margin-bottom: 60px;

    @include breakpoint(medium) {
      margin-bottom: 80px;
    }

    @include breakpoint(large) {
      margin-bottom: 100px;
    }

  }

  &__row {
    @include grid-row();
  }
  &__col {
    @include grid-column(12, 0px);
    position: relative;
    margin-bottom: 60px;

    @include breakpoint(medium){
      @include grid-column(6, 0px);
      margin-bottom: 80px;
    }

    @include breakpoint(large){
      margin-bottom: 100px;
    }

    a {
      color: $dark;;
      display: block;
      margin-bottom: 10px;
      margin-right: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: lighten($dark, 20)
      }
    }

    strong {
      font-family: $font-family--bold;
      color: $dark;
    }

  }

  &__crest {

    position: absolute;
    top: 55px;
    right: 0px;

    img {
    }
  }


  &__etc {

    font-family: $font-family--regular;
    width: 100%;
    background-color: $snow-white;
    padding: 35px 0px 60px 0px;

    &__container {
      @include container();

      a {
        display: block;
        color: $earth--dark;
        line-height: 1.75em;
        margin-bottom: 20px;

        @include breakpoint(medium) {
          display: inline-block;
          margin-right: 20px;
          line-height: 2em;
        }
        @include breakpoint(large) {
          margin-right: 40px;
        }

        &:hover {
          color: $earth;
        }
      }
    }

  }
}
