.menu-dropdown__spacer {
  height: 50px;
  width: 100%;
  @include hide-for(medium);
}

.menu-dropdown {
  @include hide-for(medium);

  background-color: $off-white;
  font-family: $font-family--bold;
  @include font-size--medium();
  overflow: hidden;
  height: calc(50px);
  width: 100%;
  z-index: 98;
  position: absolute;
  top: 76px;
  transition: height 0.3s;
  color: $earth--dark;

  &.active{
    height: calc(100% - 76px);
    overflow: auto;
    position: fixed;

    .menu-dropdown__button:before {
      transform: rotate(45deg);
    }
  }

  &__container {
    overflow: none;
  }

  &__button {
    height: 50px;
    line-height: 50px;
    padding-left: 16px;

    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      right: 17px;
      top: 5px;
      background-image: url(/assets/img/expand.svg);
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }
  }

  &__links {


    ul {
      margin: 0px 0px;
      padding-top: 5px 0px 0px 0px;
      list-style: none;

      li {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 16px;
      }
    }

    &__dropdown {
      font-family: $font-family-h--bold;
      color: $dark;
      @include font-size--large();
      margin-top: 15px;
      position: relative;

      &:before {
        content: "";
        width: 40px;
        height: 8px;
        position: absolute;
        top: 11px;
        right: 17px;
        z-index: 100000;
        background-image: url(/assets/img/dropdown.svg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        transition: all 0.3s;
      }

      &.active {
        ul {
          opacity: 1;
          pointer-events: all;
          position: relative;
        }

        &:before {
          transform: rotate(180deg);
        }
      }

      ul {

        opacity: 0;
        border-top: 0px;
        padding: 0px;
        pointer-events: none;
        margin-top: 25px;
        margin-bottom: 30px;
        position: absolute;
        transition: opacity 0.2s;

        li {
          @include font-size--medium();
          margin-top: 10px;
          margin-left: 20px;
          margin-bottom: 0px;
          list-style-type: none;
        }

        a {
          color: $earth--dark;
          &:hover {
            color: $earth;
          }
        }
      }
    }

  }
}
